extends ../layout

block content
  h1 ファイル管理
  form(action='/files',method='post',enctype='multipart/form-data')
    div.form-group
      label(for='inputAppName') ファイルを指定
      input.form-control(type='file',name='photo')
    button.btn.btn-default(type='submit') 登録
  - for (i in files) {
    - var file = files[i];
    p
      div.row
        div.col-xs-9
          img.img-rounded(width='100%',src='https://mb.api.cloud.nifty.com/2013-09-01/applications/'+config.application_id+'/publicFiles/'+file.fileName)
        div.col-md-3
          form(action='/files/'+file.fileName,method='post')
            input(type='hidden',name='_method',value='delete')
            button.btn.btn-warning 削除
  - }
  